<%= error_messages_for 'webhook_setting' %>
<p>
  <%= f.label :issue_query_id %><br>
  <% iq = IssueQuery.all.map{|i| [i.name, i.id]} %>
  <%= f.select :issue_query_id, iq  %>
</p>

<p>
  <%= f.label :url %><br>
  <%= f.text_field :url %>
</p>

<p>
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</p>


<p>
  <%= f.label :post %><br>
  <%= f.check_box :post %>
</p>

<p>
  <%= f.submit %>
</p>