<h2>Webhook Setting</h2>

    <p>
      <strong>URL:</strong>
      <%= @webhook_setting.url %>
    </p>
     
    <p>
      <strong>description:</strong>
      <%= @webhook_setting.description %>
    </p>

    <p>
      <strong>POST/GET:</strong>
      <%= @webhook_setting.post? ? 'POST' : 'GET' %>
    </p>

    <p><%= link_to 'Edit', edit_project_webhook_setting_path(@project, @webhook_setting) %></p>

    <p><%= link_to 'Back to list of webhooks', project_webhook_settings_path %></p>

